%rebase('osnova.html', naslov='Čudežni svet oper', stran='index', uporabnik=None) 

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <link href="{{url('static', filename='style.css')}}" rel="stylesheet">    
    <link href="/static/style.css" rel="stylesheet">
</head>


<body>
    <h1>Čudežni svet oper</h1>
    <p>Dobrodošli v čarobnem svetu oper.</p>
    
    <div class="button-group">
        <a href="/prijavna_stran" class="button">Nadaljuj kot operna hiša</a>
        <a href="/predstave" class="button">Nadaljuj brez prijave</a>
    </div>


</body>
</html>