%rebase('osnova.html', naslov='Prijava', stran='prijava', uporabnik=None)

<form action="{{url('/prijava')}}" method="POST" class="w-100">

    <div class="form-group mb-4">
      <input type="email" class="form-control" name="username"  placeholder="Uporabniško ime">
    </div>
    <div class="form-group mb-2">
      <input type="password" class="form-control" name="password" placeholder="Geslo">
    </div>

    <div class="button-wrapper">
      <button type="submit" class="button">Prijava</button>
      <a href="{{url('/registracija')}}" class="button">Registracija novega uporabnika</a>
    </div>
</form>

